div.body-content {
  margin-top: 51px; }


#WaitingOverlay .modal-body {
  width: 200px;
  height: 200px; }
  #WaitingOverlay .modal-body img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px; }


#UserManagementContainer {
  width: 90%;
  min-height: 600px; }
  #UserManagementContainer .userContainer {
    height: 400px;
    border: 1px black solid;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px; }
  #UserManagementContainer .user {
    width: 100%;
    height: 25px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis; }
    #UserManagementContainer .user:hover {
      background-color: darkgray; }
    #UserManagementContainer .user.selected {
      background-color: lightgray; }
  #UserManagementContainer div.row {
    margin-top: 10px; }